html, body, #root {
  background-color: #f1f1f1;
  background-image: url(https://cdn.wallpapersafari.com/68/45/MFl4r9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body, input, button {
  font-family: 'Jura';
}

.menu a:hover {
  text-decoration: underline;
}